audioread==2.1.5
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
backports.weakref==1.0.post1
beautifulsoup4==4.6.0
bleach==1.5.0
boto==2.48.0
cachetools==2.0.1
certifi==2017.4.17
chardet==3.0.4
cliff==2.8.0
cmd2==0.8.0
configparser==3.5.0
contextlib2==0.5.5
coverage==4.0.3
cssselect==1.0.3
cycler==0.10.0
decorator==4.1.1
dill==0.2.7.1
docopt==0.6.2
enum34==1.1.6
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.16.0
futures==3.2.0
gapic-google-cloud-datastore-v1==0.15.3
gapic-google-cloud-error-reporting-v1beta1==0.15.3
gapic-google-cloud-logging-v2==0.91.3
google-api-core==0.1.3
google-apitools==0.5.11
google-auth==1.2.1
google-cloud==0.32.0
google-cloud-bigquery==0.28.0
google-cloud-bigquery-datatransfer==0.1.0
google-cloud-bigtable==0.28.1
google-cloud-container==0.1.0
google-cloud-core==0.28.0
google-cloud-datastore==1.4.0
google-cloud-dns==0.28.0
google-cloud-error-reporting==0.28.0
google-cloud-firestore==0.28.0
google-cloud-language==1.0.0
google-cloud-logging==1.4.0
google-cloud-monitoring==0.28.0
google-cloud-pubsub==0.30.1
google-cloud-resource-manager==0.28.0
google-cloud-runtimeconfig==0.28.0
google-cloud-spanner==0.29.0
google-cloud-speech==0.30.0
google-cloud-storage==1.6.0
google-cloud-trace==0.17.0
google-cloud-translate==1.3.0
google-cloud-videointelligence==1.0.0
google-cloud-vision==0.29.0
google-compute-engine==2.7.2
google-gax==0.15.16
google-resumable-media==0.3.1
googleapis-common-protos==1.5.3
grpc-google-iam-v1==0.11.4
grpcio==1.8.2
h5py==2.7.1
html5lib==0.9999999
httplib2==0.10.3
idna==2.5
ipykernel==4.6.1
ipython==7.16.3
ipython-genutils==0.2.0
joblib==0.11
jupyter-client==5.1.0
jupyter-core==4.3.0
kaggle-cli==0.12.13
Keras==2.0.8
librosa==0.5.1
llvmlite==0.20.0
lxml==4.0.0
Markdown==2.6.9
matplotlib==2.0.2
MechanicalSoup==0.8.0
mock==2.0.0
multiprocess==0.70.5
munkres==1.0.12
networkx==1.11
numba==0.35.0
numexpr==2.6.4
numpy==1.13.1
oauth2client==3.0.0
olefile==0.44
pandas==0.20.3
pathlib2==2.3.0
pathos==0.2.1
pbr==3.1.1
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.2.1
ply==3.8
pox==0.2.3
ppft==1.6.4.7.1
prettytable==0.7.2
progressbar2==3.34.3
prompt-toolkit==1.0.15
proto-google-cloud-datastore-v1==0.90.4
proto-google-cloud-error-reporting-v1beta1==0.15.3
proto-google-cloud-logging-v2==0.91.3
protobuf==3.4.0
psutil==5.4.2
ptyprocess==0.5.2
pyannote.core==1.0.4
pyannote.metrics==1.0
pyannote.parser==0.6.5
pyasn1==0.2.3
pyasn1-modules==0.0.9
Pygments==2.2.0
PyMySQL==0.8.0
pyparsing==2.2.0
pyperclip==1.6.0
pysrt==1.1.1
python-coveralls==2.9.1
python-dateutil==2.6.1
python-speech-features==0.6
python-utils==2.3.0
pytz==2017.2
PyWavelets==0.5.2
PyYAML==3.12
pyzmq==16.0.2
requests==2.18.4
resampy==0.2.0
rsa==3.4.2
scandir==1.5
scikit-image==0.13.0
scikit-learn==0.18.2
scipy==0.19.1
simplegeneric==0.8.1
simplejson==3.11.1
singledispatch==3.4.0.3
six==1.10.0
sklearn==0.0
sortedcontainers==1.5.7
stevedore==1.28.0
subprocess32==3.2.7
tables==3.4.2
tabulate==0.7.7
tensorflow-gpu==1.4.0
tensorflow-tensorboard==0.4.0rc3
tornado==4.5.2
traitlets==4.3.2
unicodecsv==0.14.1
Unidecode==0.4.21
urllib3==1.21.1
wcwidth==0.1.7
webrtcvad==2.0.10
Werkzeug==0.12.2
xarray==0.9.6
